body{
    background-image: "https://www.curagroup.com/hubfs/1.jpg"
    }

h1{
       
    color: rgb(246, 8, 8);
        font-size: 7vw;
        position: absolute;
        left: 90px;
        bottom: 400px;
        text-decoration: underline;
    };

    

