
h1{
       
    color: rgb(246, 87, 8);
        font-size: 3vw;
        position: absolute;
        left: 90px;
        bottom: 800px;
    }
    
    h2{
        color: rgb(246, 218, 8);
        font-size: 5vw;
        position: absolute;
        left: 990px;
        bottom: 1100px;

    }
    
form{
    width: 250px;
    height: 250px;
    background-color: rgb(59, 56, 59);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    border-radius: 20px;
    bottom: 500px;
    left: 300px;

}

p{
    color: rgb(244, 245, 240);
    position: absolute;
    bottom: 900px;
    left: 250px;
    font-size:2vw;
    font-style:bold;
}
p1{
    color: rgb(7, 7, 7);
    position: absolute;
    bottom: 1250px;
    left: 1920px;
    font-size: 1vw;
    font-style:bold;
}
p2{
    color: rgb(7, 7, 7);
    position: absolute;
    bottom: 1250px;
    left: 2150px;
    font-size: 1vw;
    font-style:bold;
}
p3{
    color: rgb(7, 7, 7);
    position:absolute;
    bottom: 1250px;
    left: 2350px;
    font-size: 1vw;
    font-style:bold;
}

p4{
    color: rgb(255, 255, 255);
    position:absolute;
    left: 1700px;
    bottom: 900px;
    font-size: 1vw;
    font-style:bold;
}

.img1{
    bottom: 550px;
    position: absolute;
    left: 600px;
    mix-blend-mode: multiply;
   
}

.img2{
    bottom: 450px;
    position: absolute;
    left: 1750px;
    mix-blend-mode: multiply;
   
}

body{
    background-color: rgb(74, 73, 73);
}